@keyframes explore-fade-out {
  to {
    opacity: 0;
  }
}

@keyframes explore-fade-in {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes morph-slide-up {
  50% {
    left: calc(50% - 26px);
    top: calc(50% - 26px);
    border-radius: 26px;
    width: 52px;
    height: 52px;
  }
  100% {
    left: 0;
    top: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes morph-slide-down {
  0% {
    left: 0;
    top: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
  25% {
    width: 52px;
    height: 52px;
    border-radius: 26px;
    top: calc(50% - 26px);
    left: calc(20% - 26px);
  }
  100% {
    left: 8px;
  }
}

@keyframes bottom-sheet-slide-up {
  to {
    top: 0;
  }
}

@keyframes bottom-sheet-slide-down {
  from {
    top: 0;
  }
  to {
    top: calc(100% - 64px)
  }
}

@keyframes slide-up-leave {
  to {
    transform: translateY(-44px);
  }
}

@keyframes slide-up-enter {
  from {
    transform: translateY(43px);
  }
  to {
    transform: translateY(0);
  }
}

.bottom-sheet {
  position: absolute;
  top: calc(100% - 64px);
  height: 100vh;
  background: white;
  z-index: 5;
  .draw {
    height: 64px;
    position: relative;
    .morph {
      background: #FF5722;
      color: white;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      z-index: 5;
      display: grid;
      grid-template: auto/auto;
      align-items: center;
      justify-content: center;
      position: absolute;

      width: 52px;
      height: 52px;
      border-radius: 26px;
      top: calc(50% - 26px);
      left: 8px;
      cursor: pointer;
      overflow: hidden;
      .material-icons {
        grid-row: 1/span 1;
        grid-column: 1/span 1;
        margin: auto;
        user-select: none;
      }
      .back {
        display: none;
        grid-row: 1/span 1;
        grid-column: 1/span 1;
      }
    }
    .explore {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      cursor: pointer;
      z-index: 4;
    }
  }
}

.bottom-sheet.slide-up {
  animation: bottom-sheet-slide-up 0.5s 0.5s forwards;
  .morph {
    animation: morph-slide-up 0.5s forwards;
    span.material-icons {
      animation: slide-up-leave 0.2s 1s forwards;
    }
    span.back {
      display: initial;
      animation: slide-up-enter 0.2s 1.2s both;
    }
  }
  .explore {
    animation: explore-fade-out 250ms forwards;
  }
}

.bottom-sheet.slide-up-done {
  top: 0;
  .morph {
    left: 0;
    top: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    span.material-icons {
      display: none;
    }
    span.back {
      display: initial;
    }
  }
}

.bottom-sheet.slide-down {
  animation: bottom-sheet-slide-down 0.5s forwards;
  .explore {
    animation: explore-fade-in 0.5s 250ms both;
  }
  .morph {
    animation: morph-slide-down 0.5s forwards;
  }
}